*{
    margin: 0;
    padding: 0;
}
ul.nav li{
    width:  25%;
    float: left;
    text-align: center;
    margin-top: 15px;
  
}

ul.nav li a{
    color: rgba(255,255,255,0.4);  
}


.navbar-brand{
    text-align: center;
    margin-top: 10px;
}
ul.menu li a:hover{
   color: white;
   background-color:transparent;
}

.container-bg{
    background-image: url(../image/home.jpg);
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    margin-top: -5%;
    
}
.img-responsive{
    display: block;
    height: auto;
}
.intro{
    text-align: center;
    margin-top: 52%
}
ul.nav li.active a{
    color: white;
}
.navbar-brand a{
    color: #99a49c;
}
div.row h1{
    color: white;
    text-align: center;
    margin-top: -45%;
    font-size: 200px;
    border: none;
    margin-bottom: 3%;
}


div.row button{

    background-color:transparent;
    color: white;
 font-size: 25px;
}

.row-me{
    margin-top: 15%;
    margin-left: 25%;
}
.img-head{
   float: left;
    padding-top: 3%;
    width: 30%;
    height: auto;
}
.tabb{
    padding-top: 8%;
    margin-left: 5%;
    
}


.h2me{
    font-size: 40px;
}
.quot{
    float: none;
}
.dll{
    margin-top: 4%;
    margin-bottom: 20%;
}
.dll dd{
    width: 100%;
    padding-top: 1%;

}

